body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-cancel {
	margin-left: 5px;
}

.note-textarea{ 
  height:104px; 
  min-height:104px;  
  max-height:300px;
}

.datepicker {
  width: 100%;
}

.job-main-col {
	height: 435px;
}

.service-type-container { 
	border:2px solid #ccc; 	
	background-color: #fff;
	height: 245px;
	margin-top: 0px; 
	overflow-y: 
	scroll; 
}

.jobcard-task-container { 
	border:2px solid #ccc; 	
	background-color: #fff;
	height: 300px;
	width: 100%;
	margin-top: 0px; 
	overflow-y: 
	scroll; 
}

.mandatory-field {
	color: red;
}

.job-total {
	margin: 25px;
}

.job-total label {
	font-size: 20px;
}

.job-total input {
	height: 40px;
}

/* bootstrap overridden */

.well {
	margin-bottom: 8px;
}

hr {
	margin-top: 5px;
	margin-bottom: 0px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	margin-left: -13px;
}