body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-cancel {
	margin-left: 5px;
}

.note-textarea{ 
  width: 600px; 
  min-width: 600px;
  max-width: 600px;
  
  height:104px; 
  min-height:104px;  
  max-height:300px;
}